<section class="section" id="lastproducts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Nos derniers produits</h2>
                    <span>Retrouvez tous nos dernières créations</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="men-item-carousel">
                    <div class="owl-men-item owl-carousel">
                    {% for product in last_products %}
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li>
                                            <a href="{{ path('product', { id: product.id }) }}"><i class="fa fa-eye"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <img src="{{ vich_uploader_asset(product) }}" alt="{{ product.name }}">
                            </div>
                            <div class="down-content">
                                <h4>{{ product.name }}</h4>
                                <span>{{ product.price }}€</span>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>