<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>{{ presentation_categories[0].name }}</h4>
                            <span id="main-description">{{ presentation_categories[0].description }}</span>
                            <div class="main-border-button">
                                <a href="{{ path('product', {id: presentation_categories[0].id}) }}">Acheter !</a>
                            </div>
                        </div>
                        <img src="/assets/images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>{{ presentation_categories[1].name }}</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>{{ presentation_categories[1].name }}</h4>
                                            <p>{{ presentation_categories[1].description }}</p>
                                            <div class="main-border-button">
                                                <a href="{{ path('product', {id: presentation_categories[1].id}) }}">Découvrir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="/assets/images/baner-right-image-01.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>{{ presentation_categories[2].name }}</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>{{ presentation_categories[2].name }}</h4>
                                            <p>{{ presentation_categories[2].description }}</p>
                                            <div class="main-border-button">
                                                <a href="{{ path('product', {id: presentation_categories[2].id}) }}">Découvrir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="/assets/images/baner-right-image-02.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>{{ presentation_categories[3].name }}</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>{{ presentation_categories[3].name }}</h4>
                                            <p>{{ presentation_categories[3].description }}</p>
                                            <div class="main-border-button">
                                                <a href="{{ path('product', {id: presentation_categories[3].id}) }}">Découvrir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="/assets/images/baner-right-image-03.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>{{ presentation_categories[4].name }}</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>{{ presentation_categories[4].name }}</h4>
                                            <p>{{ presentation_categories[4].description }}</p>
                                            <div class="main-border-button">
                                                <a href="{{ path('product', {id: presentation_categories[4].id}) }}">Découvrir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="/assets/images/baner-right-image-04.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>