<div class="main-banner" id="top">
    <h1>Test</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>{{ presentation_categories[0].name }}</h4>
                            <span id="main-description">{{ presentation_categories[0].description | raw}}</span>
                            <div class="main-border-button">
                                <a href="{{ path('product', {id: presentation_categories[0].id}) }}">Acheter !</a>
                            </div>
                        </div>
                        <img src="{{ vich_uploader_asset(presentation_categories[0], 'imageFile') }}" alt="{{ presentation_categories[0].imageName }}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>{{ presentation_categories[1].name }}</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>{{ presentation_categories[1].name }}</h4>
                                            <p>{{ presentation_categories[1].description | raw}}</p>
                                            <div class="main-border-button">
                                                <a href="{{ path('product', {id: presentation_categories[1].id}) }}">Découvrir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{{ vich_uploader_asset(presentation_categories[1], 'imageFile') }}" alt="{{ presentation_categories[1].imageName }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>{{ presentation_categories[2].name }}</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>{{ presentation_categories[2].name }}</h4>
                                            <p>{{ presentation_categories[2].description | raw}}</p>
                                            <div class="main-border-button">
                                                <a href="{{ path('product', {id: presentation_categories[2].id}) }}">Découvrir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{{ vich_uploader_asset(presentation_categories[2], 'imageFile') }}" alt="{{ presentation_categories[2].imageName }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>{{ presentation_categories[3].name }}</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>{{ presentation_categories[3].name }}</h4>
                                            <p>{{ presentation_categories[3].description | raw}}</p>
                                            <div class="main-border-button">
                                                <a href="{{ path('product', {id: presentation_categories[3].id}) }}">Découvrir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{{ vich_uploader_asset(presentation_categories[3], 'imageFile') }}" alt="{{ presentation_categories[3].imageName }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>{{ presentation_categories[4].name }}</h4>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>{{ presentation_categories[4].name }}</h4>
                                            <p>{{ presentation_categories[4].description | raw}}</p>
                                            <div class="main-border-button">
                                                <a href="{{ path('product', {id: presentation_categories[4].id}) }}">Découvrir plus</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{{ vich_uploader_asset(presentation_categories[4], 'imageFile') }}" alt="{{ presentation_categories[4].imageName }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>