<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <ul class="nav">
                        {% if menu_active is not defined %}
                            {% set menu_active = null %}
                        {% endif %}
                        <li class="scroll-to-section"><a href="{{ path('home') }}" {% if menu_active is same as("home") %} class="active" {% endif %}>Accueil</a></li>
                        <li class="submenu">
                            <a href="{{ path('products') }}" {% if menu_active is same as("products") %} class="active" {% endif %}>Nos produits</a>
                            <ul>
                                {% for category in categories %}
                                    <li><a href="{{ path('products', {categoryId: category.id}) }}">{{ category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="scroll-to-section">
                                <a href="{{ path('cart') }}" {% if menu_active is same as("cart") %} class="active" {% endif %}><i class="fa fa-shopping-cart"></i> Mon panier</a>
                            </li>
                        {% else %}
                            <li class="scroll-to-section">
                                <a href="{{ path('app_login') }}" {% if menu_active is same as("login") %} class="active" {% endif %}><i class="fa fa-user"></i> Connexion</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="scroll-to-section"><a href="{{ path('admin') }}"><i class="fa fa-lock"></i> Administration</a></li>
                        {% endif %}
                        {% if app.user %}
                            <li class="scroll-to-section"><a href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
                        {% endif %}
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>